body, html {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #111;
}

#lidar-view {
    height: 100%;
    width: 100%;
    display: block;
}

/* Panneau GPS */
.control-panel {
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 15px;
    border-radius: 15px;
    color: white;
    width: 180px;
    z-index:1000;
}

.gps {
    position: absolute;
    right:10px;
    bottom:10px;
    background: rgba(40,40,40,0.9);
    padding: 10px 15px;
    border-radius :150px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-size: 14px;
    z-index:1000;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 45px);
    gap: 5px;
    justify-items: center;
    z-index:1000;
}

.btn {
    width: 45px;
    height: 45px;
    background: #2f2f2f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    z-index:1000;
}

.btn:hover {
    background: #444;
}

/* Toggle en haut a droite */
.toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(40,40,40,0.9);
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index:1000;
}

.switch {
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    z-index:1000;
}

.switch::after {
    content: "";
    width: 18px;
    height: 18px;
    background: white;
    position: absolute;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    transition: 0.3s;
    z-index:1000;
}

.switch.active {
    background: #4CAF50;
}

.switch.active::after {
    left: 21px;
}
