<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Interface LiDAR</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<canvas id="lidar-view"></canvas>

<div class="control-panel">
  <div class="buttons">
    <div></div>
    <div class="btn" onclick="sendCommand('forward')">&#9650;</div>
    <div></div>

    <div class="btn" onclick="sendCommand('left')">&#9664;</div>
    <div class="btn" onclick="sendCommand('stop')">&#9679;</div>
    <div class="btn" onclick="sendCommand('right')">&#9654;</div>

    <div></div>
    <div class="btn" onclick="sendCommand('backward')">&#9660;</div>
    <div></div>
  </div>
</div>

<div class="toggle">
  Manuel / Autonome
  <div class="switch" id="switch"></div>
</div>
<div class="gps" id="gps">GPS : ...</div>
<script src="/static/script.js"></script>
</body>
</html>
